{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}

<div class="layout">

   

    <!-- MAIN -->
    <div class="main">

        <h2>Welcome to Prasad School</h2>

        <p>We provide quality education for students from class 1 to 10.</p>
        <p>Our school focuses on discipline, knowledge, and overall development.</p>
        <p>We have experienced faculty and structured class schedules.</p>

    </div>

</div>

{% endblock %}